<div class="container">
    <div class="row">
        <%= render(:partial => 'layouts/homnavbar')%>
    </div>
    <body>
        <div class="row" id="world">
            <%= image_tag("Wiki-black.png", :alt => "Wiki One Stop", :size => '300x220') %>
        </div>
    </body>

</div>