// Place all the styles related to the Homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#world{
    position: fixed;
    padding-top: 100px;
}