<nav class="navbar navbar-fixed-top navbar-inverse" style="background-color: #F8F8F8;">
    <div class="navbar-header">
        <a href='#' class="navbar-brand"><strong>Wiki One Stop</strong></a>
    </div>
    <div>
        <ul class="nav navbar-nav navbar-right">
            <li  id="username"><%= link_to 'Sign In', new_user_session_path, :class => 'navbar-link' %></li>
        </ul>
    </div>
</nav>